﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.Master" AutoEventWireup="true" CodeBehind="AdminHome.aspx.cs" Inherits="A1Builder.AdminHome" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <table style="width: 100%;" align="left">
        <tr>
            <td style ="padding-bottom:2500px; font-size:larger" class="thead-inverse" >Welcome to Admin Panel of AoneBuilder for Creating, Modifying and Deleting the News Content.</td>
        </tr>
        <%--<tr>
            <td>
                <asp:Label ID="lblError" runat="server" Text="Use the navigation on left side"></asp:Label>
            </td>
        </tr>--%>
    </table>
</asp:Content>
